@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TP 7</h1>
    <p class="lead">Trabajo Practico Nº7 - Taller de computación VI</p>
</div>


<h2>Articulos</h2>
<div class="row">
    <div class="col-md-4">
        <h4>Listado de articulos</h4>
        <p><a class="btn btn-default" @Html.ActionLink("Ver >>", "ListarArticulos", "Articulos")</a></p>
    </div>
    <div class="col-md-4">
        <h4>Cargar articulos</h4>
        <p><a class="btn btn-default" @Html.ActionLink("Cargar >>", "CargarArticulo", "Articulos")</a></p>
    </div>
</div>
<h2>Facturas</h2>
<div class="row">
    <div class="col-md-4">
        <h4>Ver facturas</h4>
        <p><a class="btn btn-default" @Html.ActionLink("Ver >>", "ListarFacturas", "Facturas")</a></p>
    </div>
    <div class="col-md-4">
        <h4>Cargar Factura</h4>
        <p><a class="btn btn-default" @Html.ActionLink("Cargar >>", "CargarFactura", "Facturas")</a></p>
    </div>
</div>
<h2>Detalles</h2>
<div class="row">
    <div class="col-md-4">
        <h4>Cargar facturas</h4>
        <p><a class="btn btn-default" @Html.ActionLink("Ver >>", "ListarDetalles", "Facturas")</a></p>
    </div>
</div>
