@model TP7.Models.FacturasModels

@{
    ViewBag.Title = "EliminarFactura";
}

<h2>Eliminar Factura</h2>

<h3>Desea borrar esta factura?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
    <div>
        <hr />
        @Html.ActionLink("<< Volver", "Index", "Home")
    </div>
</div>
